<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title - YMSBank Web Arayüzü</title>
    <link href="~/build/css/all.min.css" rel="stylesheet" />
</head>
<body class="nav-md">
    <div class="container body">
        <div class="main_container">
            <div class="col-md-3 left_col">
                <div class="left_col scroll-view">
                    <div class="navbar nav_title" style="border: 0;">
                        <a href="@Url.Action("Index", "Home", new { area = "" } )" class="site_title"><i class="fa fa-paw"></i> <span>YMS Bank</span></a>
                    </div>
                    <vc:profile></vc:profile>                    
                    <vc:left-menu></vc:left-menu>
                    <vc:help-menu></vc:help-menu>
                </div>
            </div>
            <div class="top_nav">
                <vc:top-menu></vc:top-menu>
            </div>
            <div class="right_col" role="main">
                @RenderBody()
            </div>
        </div>

        <footer>
            <div class="pull-right">
                YMS Bank - Copyright &copy; 2018
            </div>
            <div class="clearfix"></div>
        </footer>
    </div>
    <script src="~/build/js/all.min.js"></script>
</body>
</html>
