<div class="nav_menu">
    <nav>
        <div class="nav toggle">
            <a id="menu_toggle"><i class="fa fa-bars"></i></a>
        </div>

        <ul class="nav navbar-nav navbar-right">
            <vc:user-menu></vc:user-menu>
            <vc:notifications></vc:notifications>
        </ul>
    </nav>
</div>