<div class="clearfix"></div>
<div class="profile clearfix">
    <div class="profile_pic">
        <img src="/images/img.jpg" alt="..." class="img-circle profile_img">
    </div>
    <div class="profile_info">
        <span>Hoşgeldiniz,</span>
        <h2>Can PERK</h2>
    </div>
</div>
<br />